body{
  margin: 0;
  font-family: "Computer Modern Serif", serif;
}

header{
  display: flex;
  padding: 20px;
  background: darkblue;
  color: white;
  text-align: center;
}

nav{
  margin: 20px;
  background: yellow;
  border-radius: 50%;
  align-content: center;
}

nav a{
  text-decoration: none;
  padding: 10px;
  margin: 20px;
}

nav a b{
  color: black;
}

.hero{
  padding: 20px;
  text-align: center;
}

.hero h1{
  color: green
}


.hero div{
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  line-height: 25px;
}

.hero button{
  background: white;
  padding: 10px;
  border: 0;
  border-radius: 20px;
}

.hero button a{
  text-decoration: none;
  font-family: "Computer Modern Serif", serif;
}

.hero button a b{
  color: cornflowerblue;
}

div{
  padding: 20px;
}

.links a{
  text-decoration: none;
}

footer{
  text-align: center;
  padding: 10px;
  background: black;
  color: white;
}
